<footer class="footer">
  <div class="outer">
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></li>
      <li><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></li>
      <li><%= __('Theme ') %> <a href="https://github.com/zhwangart/hexo-theme-ocean">Ocean</a></li>
    </ul>
  </div>
</footer>
