<footer class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></li>
      <li><%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></li>
      <li><%= __('Theme ') %> <a href="https://zhwangart.github.io">zhwangart</a></li>
      <li><i class="fe fe-bar-chart"></i> <span id="busuanzi_value_site_pv"></span></li>
      <li><i class="fe fe-smile-alt"></i> <span id="busuanzi_value_site_uv"></span></li>
    </ul>
  </div>
</footer>